/*empieza menu*/

input[type=checkbox] {
    display: none;
  
    &:checked ~ #menu {
      display: block;
    }
  }
  
  .show-menu {
    text-align: center;
    width: 100%;
    display: none;
  }
  
  .menudesplegable ul {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    z-index: 1;
    justify-content: space-around;
  
    li {
      ul {
        display: none;
      }
  
      a:hover + ul, ul:hover {
        display: block;
        position: absolute;
        background-color: white;
        text-align: left;
      }
    }
  }
  
  .menu li a {
    text-decoration: none;
    font-family: 'Old Standard TT', serif;
    font-size: 1.2em;
    color: tomato;
    justify-content: space-around;
    margin-left: 50px;
    margin-right: 50px;
  
    &:hover {
      color: purple;
      -webkit-transition: .3s ease-out;
      transition: .3s ease-out;
    }
  }
  
  .hover-anim li a:hover {
    background-color: orchid;
    color: white;
  }
  
  /*termia menu*/